{% extends 'accounts_2/base_home.html' %}

{% block head %}
    <title>Coming Soon</title>

{% endblock %}

{% block body %}

<div  style="background-color: #1c7430">
<div class="container">
	<!---Form starting---->
	<div class="row ">
	 <!--- For Name---->
         <div class="col-sm-offset-8">
             <div class="row">
			     <div class="col-xs-8">

                    <h1>Coming Soon</h1>


                 </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}