{% extends 'accounts_2/base_home.html' %}

{% block head %}
    <title>Personal Information</title>

{% endblock %}

{% block body %}

<div  style="background-color: #1c7430">
<div class="container">
	<!---Form starting---->
	<div class="row ">
	 <!--- For Name---->
         <div class="col-sm-offset-8">
             <div class="row">
			     <div class="col-xs-8">

                    <h1><p>Hello, {{ user.full_name }}</p></h1>
                     <p>Email: {{ user.email }} </p>
                     <p>Age: {{ user.age }} </p>
                    <p>Address: {{ user.address}}</p>
                    <p>Lead: {{ user.lead }} </p>
                     <h3><p>Your account has been updated: {{ user.update }}</p></h3>


                 </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}