li{
	border:double;
	border-radius: 5px;
}

li a{
	color: purple;
	text-decoration: none;
	font-family: verdana;	
	font-size: 14pt;
	padding: 5px;
}

li a:hover{
color: blue;	
}

body {
    background: white url("images/background.jpg");
}

ul{
	width: 450px;
    padding: 8px;
    margin: 100px auto;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: #dedede #bababa #aaa #bababa;
    box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
    border-radius: 10px;    
    background-color: #f6f6f6;
    background-image: linear-gradient(top, #f6f6f6, #eae8e8);
}