absl-py==0.6.1
amqp==2.3.2
astor==0.7.1
atomicwrites==1.2.1
attrs==18.2.0
bangla==0.0.2
beautifulsoup4==4.6.3
billiard==3.5.0.4
bleach==1.5.0
blockchain==1.4.4
cached-property==1.5.1
celery==4.2.1
certifi==2018.10.15
chardet==3.0.4
cmsplugin-filer==1.1.3
cycler==0.10.0
Cython==0.29
dj-database-url==0.5.0
Django==2.1.3
django-appconf==1.0.2
django-ckeditor==5.6.1
django-classy-tags==0.8.0
django-cms==3.4.6
django-disqus==0.5
django-filer==1.3.2
django-formtools==2.1
django-js-asset==1.1.0
django-markdown==0.8.4
django-mptt==0.8.7
django-polymorphic==2.0.3
django-sekizai==0.10.0
django-simple-history==2.5.1
django-treebeard==4.3
djangocms-admin-style==1.2.9
djangocms-attributes-field==0.4.0
djangocms-column==1.9.0
djangocms-file==2.0.3
djangocms-googlemap==1.2.0
djangocms-installer==0.9.7
djangocms-link==2.1.2
djangocms-picture==2.0.7
djangocms-snippet==2.0.0
djangocms-style==2.1.0
djangocms-text-ckeditor==3.6.1
djangocms-video==2.0.5
djangorestframework==3.9.0
djangorestframework-jwt==1.11.0
docker==3.5.1
docker-compose==1.22.0
docker-pycreds==0.3.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
easy-thumbnails==2.5
enum-compat==0.0.2
future==0.17.1
gast==0.2.0
gcloud==0.18.3
googleapis-common-protos==1.5.5
grpcio==1.16.0
gunicorn==19.9.0
html5lib==0.9999999
httplib2==0.11.3
idna==2.6
jsonschema==2.6.0
Kivy==1.10.1
Kivy-examples==1.10.1
Kivy-Garden==0.1.4
kiwisolver==1.0.1
kombu==4.2.1
lxml==4.9.1
Markdown==3.0.1
matplotlib==3.0.1
mock==2.0.0
more-itertools==4.3.0
numpy==1.15.4
oauth2client==4.1.3
pandas==0.23.4
pbr==5.1.0
Pillow==5.3.0
pipenv==2018.10.13
pluggy==0.8.0
protobuf==3.6.1
psycopg2-binary==2.7.5
py==1.7.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pydot==1.2.4
pygame==1.9.4
Pygments==2.2.0
PyJWT==1.6.4
pyparsing==2.3.0
PyQt5==5.11.3
PyQt5-sip==4.19.13
pyqtdeploy==2.2
pytest==3.10.0
python-dateutil==2.7.5
pytz==2018.5
PyYAML==3.13
requests==2.18.4
rsa==4.0
scipy==1.1.0
seaborn==0.9.0
six==1.11.0
social==0.1.dev3
stevedore==1.30.0
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
texttable==0.9.1
tzlocal==1.5.1
Unidecode==0.4.21
urllib3==1.22
vine==1.1.4
virtualenv==16.1.0
virtualenv-clone==0.4.0
virtualenvwrapper==4.8.2
webscraping==1.7
websocket-client==0.53.0
Werkzeug==0.14.1
xlrd==1.1.0
xlwt==1.3.0
